<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex">
        <h3 class="m-1">コーディネート</h3>
        <% if user_signed_in? %>
          <%= link_to "新規投稿", new_coordinate_path, class: "btn btn-outline-info" %>
        <% end %>
      </div>
      
      <div id="top">
        <a href="#">
          <button class="btn btn-outline-secondary" id="index-scroll">↑</button>
        </a>
      </div>

      <!-- 条件検索 -->
      <div class="m-3 text-center">
        <%= form_with(scope: :search, url: coordinates_path, method: :get) do |f| %>
            <%= f.select :gender, User.genders.keys.map{|k| [I18n.t("enums.user.gender.#{k}"), k]}, { include_blank: '好みの服装'}, value: @search_params[:gender] %>
            <%= f.select :generation, User.generations.keys.map{|k| [I18n.t("enums.user.generation.#{k}"), k]}, { include_blank: '世代'}, value: @search_params[:generation] %>
            <%= f.select :body_shape, User.body_shapes.keys.map{|k| [I18n.t("enums.user.body_shape.#{k}"), k]}, { include_blank: '体型'}, value: @search_params[:body_shape] %>
            <%= f.select :dress_code, Coordinate.dress_codes.keys.map{|k| [I18n.t("enums.coordinate.dress_code.#{k}"), k]}, { include_blank: 'コンセプト'}, value: @search_params[:dress_code] %>
            <%= f.select :season, Coordinate.seasons.keys.map{|k| [I18n.t("enums.coordinate.season.#{k}"), k]}, { include_blank: '季節'}, value: @search_params[:season] %>
            <%= f.select :temperature, Coordinate.temperatures.keys.map{|k| [I18n.t("enums.coordinate.temperature.#{k}"), k]}, { include_blank: '気温'}, value: @search_params[:temperature] %>
          <div class="form-check">
            身長：<%= f.number_field :tall_from, in: 100..200, class: "form-check-inline" %>cm以上〜
            <%= f.number_field :tall_to, in: 100..200, class: "form-check-inline" %>cm以下
            <%= f.text_field :keyword, value: @search_params[:keyword], placeholder: "キーワード" %>
            <%= button_tag type: "submit", class: "form-check-inline btn btn-outline-dark" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= render "layouts/coordinates", coordinates: @coordinates %>
    </div>
  </div>
</div>
