<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <% if @coordinate.errors.any? %>
        <%= @coordinate.errors.count %>件のエラーが発生しました
        <ul>
          <% @coordinate.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <h2>コーディネートを投稿</h2>
      <%= form_with model: @coordinate do |f| %>

      <div class="row no-padding card-wrapper mx-auto">
        <div class="card shadow-lg" style="width: 60rem;">
          <div class='row g-0'>

            <div class="col-md-6">
              <%= f.label :coordinate_image do %>
                <%= image_tag('non-choice.jpg', class: 'avatar') %>
                <%= f.file_field :coordinate_image, accept: "image/*", class: 'uploader', style: 'display:none' %>
              <% end %>
            </div>

            <div class="col-md-6">
              <div class="card-body justify-content-center">
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <h4>タイトル</h4>
                <div class="pb-2"><%= f.text_field :title, :size => "35" %></div>
                <table class="table table no-borderless">
                  <tr>
                    <th>シーン:</th>
                    <td><%= f.select :dress_code, Coordinate.dress_codes.keys.map{|k| [I18n.t("enums.coordinate.dress_code.#{k}"), k]}, { include_blank: '選択してください'} %></td>
                  </tr>
                  <tr>
                    <th>季節: </th>
                    <td><%= f.select :season, Coordinate.seasons.keys.map{|k| [I18n.t("enums.coordinate.season.#{k}"), k]}, { include_blank: '選択してください'} %></td>
                  </tr>
                  <tr>
                    <th>気温: </th>
                    <td><%= f.select :temperature, Coordinate.temperatures.keys.map{|k| [I18n.t("enums.coordinate.temperature.#{k}"), k]}, { include_blank: '選択してください'} %></td>
                  </tr>
                </table>
                
                <h5>説明</h5>
                <%= f.text_area :body, size: "35x15" %>
                
                <%= f.submit "投稿してアイテム登録に" , class: "btn btn-outline-success col-md-offset-6" %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
