<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2><%= @coordinate.title %></h2>

      <div class="row no-padding card-wrapper">
        <div class="card shadow-lg  mx-auto" style="width: 60rem;">
          <div class='row g-0'>

            <div class="col-md-7">
              <%= image_tag @coordinate.coordinate_image, class: "card-img-top" %>

              <h5 class="mt-3 ml-3">使用アイテム</h5>
              <table class="table table-borderless table-hover">
                <tr>
                  <th></th>
                  <th>ブランド</th>
                  <th>商品名</th>
                  <th>サイズ</th>
                </tr>

                <% if @outer_item.present? %>
                  <tr onclick='window.location="<%= '/items/' + @outer_item.id.to_s %>"' role="link" >
                    <td><%= image_tag @outer_item.get_item_image(80,100), class: "rounded-circle" %></td>
                    <td><%= @outer_item.brand_name %></td>
                    <td><%= @outer_item.item_name %></td>
                    <td><%= @outer_item.size %></td>
                  </tr>
                <% end %>

                <% if @tops_item.present? %>
                  <tr onclick='window.location="<%= '/items/' + @tops_item.id.to_s %>"' role="link" >
                    <td><%= image_tag @tops_item.get_item_image(80,100), class: "rounded-circle" %></td>
                    <td><%= @tops_item.brand_name %></td>
                    <td><%= @tops_item.item_name %></td>
                    <td><%= @tops_item.size %></td>
                  </tr>
                <% end %>

                <% if @bottoms_item.present? %>
                  <tr onclick='window.location="<%= '/items/' + @bottoms_item.id.to_s %>"' role="link" >
                    <td><%= image_tag @bottoms_item.get_item_image(80,100), class: "rounded-circle" %></td>
                    <td><%= @bottoms_item.brand_name %></td>
                    <td><%= @bottoms_item.item_name %></td>
                    <td><%= @bottoms_item.size %></td>
                  </tr>
                <% end %>

                <% if @shoes_item.present? %>
                  <tr onclick='window.location="<%= '/items/' + @shoes_item.id.to_s %>"' role="link" >
                    <td><%= image_tag @shoes_item.get_item_image(80,100), class: "rounded-circle" %></td>
                    <td><%= @shoes_item.brand_name %></td>
                    <td><%= @shoes_item.item_name %></td>
                    <td><%= @shoes_item.size %></td>
                  </tr>
                <% end %>

                <% if @other1_item.present? %>
                  <tr onclick='window.location="<%= '/items/' + @other1_item.id.to_s %>"' role="link" >
                    <td><%= image_tag @other1_item.get_item_image(80,100), class: "rounded-circle" %></td>
                    <td><%= @other1_item.brand_name %></td>
                    <td><%= @other1_item.item_name %></td>
                    <td><%= @other1_item.size %></td>
                  </tr>
                <% end %>

                <% if @other2_item.present? %>
                  <tr onclick='window.location="<%= '/items/' + @other2_item.id.to_s %>"' role="link" >
                    <td><%= image_tag @other2_item.get_item_image(80,100), class: "rounded-circle" %></td>
                    <td><%= @other2_item.brand_name %></td>
                    <td><%= @other2_item.item_name %></td>
                    <td><%= @other2_item.size %></td>
                  </tr>
                <% end %>
              </table>
            </div>

            <div class="col-md-5">
              <div class="card-body justify-content-center">
                <h5 class="pb-2">コーディネート情報</h5>
                <table class="table table no-borderless">
                  <tr>
                    <th>コンセプト:</th>
                    <td><%= @coordinate.dress_code_i18n %></td>
                  </tr>
                  <tr>
                    <th>季節: </th>
                    <td><%= @coordinate.season_i18n %></td>
                  </tr>
                  <tr>
                    <th>気温: </th>
                    <td><%= @coordinate.temperature_i18n %></td>
                  </tr>
                </table>
                <%= @coordinate.body %>

                <h5 class="mt-5">投稿者情報</h5>
                  <%= link_to user_path(@user.id) do %>
                    <%= image_tag @user.get_profile_image(80,100), class: "rounded-circle " %>
                  <% end %>
                  <%= @user.name %>
                 <%= render "public/users/user_info", user: @user %>

                <div class="mt-2">
                  <h5>#タグ</h5>
                  <% @coordinate_tags.each do |tag| %>
                    <%= link_to tag.tag_name, tag_coordinates_path(tag_id: tag.id) %>
                    <%= "(#{tag.coordinates.count})" %>
                  <% end %>
                </div>

                <!-- いいね機能 -->
                <div class="mt-5" id="coordinate_<%= @coordinate.id %>" >
                  <div class="favorite_btn">
                    <%= render "public/favorites/favorite_btn", coordinate: @coordinate %>
                  </div>
                </div>

                <div class="mt-2">
                  <h5>コメントする</h5>
                  <%= form_with model: [@coordinate, @comment], local: false do |f| %>
                    <%= f.text_area :comment, size: "30x5", placeholder: "コメントをここに" %>
                    <%= f.submit "コメント", class: "btn btn-outline-success m-1" %>
                  <% end %>
                </div>
                <% if user_signed_in? %>
                  <% if current_user.id == @coordinate.user_id %>
                    <%= link_to "編集する", edit_coordinate_path(@coordinate), class: "btn btn-outline-info m-1" %>
                  <% end %>
                <% end %>

              </div>
            </div>

          </div>
        </div>
      </div>

    <!-- 非同期通信 -->
    <div class="col-md-12" id="coordinate_<%= @coordinate.id %>" >
      <h4 class="mt-4">同じような投稿</h4>
      <% if @similar_coordinates.present? %>
        <%= render "layouts/coordinates", coordinates: @similar_coordinates %>
      <% else %>
        <P>--該当する投稿はありません--</P>
      <% end %>

      <!-- コメント機能 -->
      <div class="comments-count">
        <p>コメント件数：<%= @coordinate.comments.count %></p>
      </div>

      <div class="coordinate_comments">
        <%= render "public/comments/index", coordinate: @coordinate %>
      </div>

    </div>

  </div>
</div>