<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @coordinates.exists? %>
        <% @coordinates.each do |coordinate| %>

          <div class="row no-padding card-wrapper mx-auto">
            <div class="card shadow-lg" style="width: 60rem;">
              <div class='row g-0'>
                <div class="col-md-7">
                  <%= link_to coordinate_path(coordinate), :target => ["_blank"] do %>
                    <%= image_tag coordinate.coordinate_image, class: "card-img-top" %>
                  <% end %>
                </div>
                <div class="col-md-5">
                  <div class="card-body justify-content-center">
                    <h2><%= coordinate.title %></h2>
                    <h5 class="mt-5">投稿者</h5>
                      <%= link_to user_path(coordinate.user.id) do %>
                        <%= image_tag coordinate.user.get_profile_image(80,100), class: "rounded-circle" %>
                      <% end %>
                      <%= coordinate.user.name %>
                    <h5 class="mt-5 pb-2">コーディネート情報</h5>
                    <table class="table table no-borderless">
                      <tr>
                        <th>コンセプト:</th>
                        <td><%= coordinate.dress_code_i18n %></td>
                      </tr>
                      <tr>
                        <th>季節: </th>
                        <td><%= coordinate.season_i18n %></td>
                      </tr>
                      <tr>
                        <th>気温: </th>
                        <td><%= coordinate.temperature_i18n %></td>
                      </tr>
                    </table>
                    <%= coordinate.body %>
                    <div class="mt-5" id="coordinate_<%= coordinate.id %>" >
                      <div class="favorite_btn">
                        <%= render "public/favorites/favorite_btn", coordinate: coordinate %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h4>気になるユーザーをフォローしましょう!</h4>
        <% if @similar_users.present? %>
          <h5>あなたにおすすめのユーザー</h5>
          <%= render "public/users/index", users: @similar_users %>
        <% else %>
          <%= render "public/users/index", users: @users %>
        <% end %>
        <%= link_to "さらにユーザーを探す", users_path, class: "btn btn-outline-success mt-3" %>
      <% end %>
    </div>
  </div>
</div>