<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2><%= @item.item_name %></h2>

      <div class="row no-padding card-wrapper mx-auto">
        <div class="card shadow-lg" style="width: 60rem;">
          <div class='row g-0'>

            <div class="col-md-7">
              <%= image_tag @item.item_image, class: "card-img-top" %>
            </div>

            <div class="col-md-5">
              <div class="card-body justify-content-center">
                <h5 class="pb-2">アイテム情報</h5>
                <table class="table table no-borderless">
                  <tr>
                    <th>ブランド:</th>
                    <td><%= @item.brand_name %></td>
                  </tr>
                  <tr>
                    <th>サイズ: </th>
                    <td><%= @item.size %></td>
                  </tr>
                  <tr>
                    <th>サイズ: </th>
                    <td><%= @item.color %></td>
                  </tr>
                  <tr>
                    <th>価格: </th>
                    <td>¥<%= @item.price.to_s(:delimited) %></td>
                  </tr>
                </table>
                <h5 class="mt-5">投稿者情報</h5>
                <%= link_to admin_user_path(@item.user.id) do %>
                  <%= image_tag @item.user.get_profile_image(80,100), class: "rounded-circle img-thumbnail" %>
                <% end %>
                <%= @item.user.name %>
                <%= link_to "アイテムを削除", admin_item_path(@item), method: :delete, class: "btn btn-outline-danger", data: { confirm: '本当に削除しますか？'} %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>