<% coordinate.comments.each do |comment| %>
<table class="table">
  <tr>
    <td class="col-2">
      <%= link_to user_path(comment.user) do %>
        <%= image_tag comment.user.get_profile_image(50,50) %>
      <% end %>
      <%= comment.user.name %>
    </td>
    <td><%= comment.comment %></td>
    <% if comment.user == current_user %>
      <td><%= link_to "削除", coordinate_comment_path(comment.coordinate, comment), method: :delete, remote: true, class: "btn btn-outline-danger" %></td>
    <% end %>
  </tr>
</table>
<% end %>