<% coordinate.comments.each do |comment| %>
  <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% if comment.user == current_user %>
    <%= link_to "削除", coordinate_comment_path(comment.coordinate, comment), method: :delete, remote: true, class: "btn btn-outline-danger" %>
  <% end %>
<% end %>