<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>投稿一覧</h4>
      
      <div class="m-3 text-center">
        <%= form_with(scope: :search, url: admin_coordinates_path, method: :get) do |f| %>
          <%= f.text_field :title, value: @search_params[:title],size: "30", placeholder: "キーワード" %>
          <%= button_tag type: "submit", class: "btn btn-outline-dark" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      
      <table class="table table-hover">
        <tr>
          <th>画像</th>
          <th>タイトル</th>
          <th>投稿者</th>
        </tr>
        <% @coordinates.each do |coordinate| %>
        <tr onclick='window.location="<%= '/admin/coordinates/' + coordinate.id.to_s %>"' role="link" >
          <td class="col-md-2"><%= image_tag coordinate.get_coordinate_image(60,80) %></td>
          <td class="col-md-8"><%= coordinate.title %></td>
          <td class="col-md-2"><%= coordinate.user.name %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>