<table class="table">
  <tr>
    <th class="col-md-2">コメントユーザー</th>
    <th class="col-md-4">コメント内容</th>
    <th class="col-md-2">通報者</th>
    <th class="col-md-2">ステータス</th>
    <th class="col-md-2"></th>
  </tr>
  <% reports.each do |report| %>
  <tr>
    <td>
      <%= link_to admin_user_path(report.comment.user) do %>
        <%= image_tag report.comment.user.get_profile_image(60,80) %>
        <%= report.comment.user.name %>
      <% end %>
    </td>
    <td><%= report.comment.comment %></td>
    <td><%= link_to report.reporting.name, admin_user_path(report.reporting) %></td>
    <td><%= link_to "確認済みにする", checked_admin_report_path(report), method: :patch, remote: true, class: "btn btn-sm btn-outline-info" %></td>
    <td>
      <%= link_to "該当ページ", admin_coordinate_path(report.comment.coordinate), class: "btn btn-outline-success btn-sm m-1" %>
      <%= link_to "コメント削除", admin_coordinate_comment_path(report.comment.coordinate, report.comment), method: :delete, class: "btn btn-outline-danger btn-sm m-1", data: { confirm: '本当に削除しますか？'} %>
    </td>
  </tr>
  <% end %>
</table>