<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>ユーザー一覧</h4>
      
      <div class="m-3 text-center">
        <%= form_with(scope: :search, url: admin_users_path, method: :get) do |f| %>
          <%= f.text_field :name, value: @search_params[:name],size: "30" %>
          <%= button_tag type: "submit", class: "btn btn-outline-dark" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      
      <table class="table table-hover">
        <tr>
          <th>画像</th>
          <th>名前</th>
        </tr>
        <% @users.each do |user| %>
        <tr onclick='window.location="<%= '/admin/users/' + user.id.to_s %>"' role="link" >
          <td><%= image_tag user.get_profile_image(60,80) %></td>
          <td><%= user.name %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>