<table class="table mb-5">
  <tr>
    <th>好みの服装</th>
    <td><%= user.gender_i18n %></td>
  </tr>
  <tr>
    <th>年齢</th>
    <td><%= user.generation_i18n %></td>
  </tr>
  <tr>
    <th>身長</th>
    <td><%= user.tall %>cm</td>
  </tr>
  <tr>
    <th>体型</th>
    <td><%= user.body_shape_i18n %></td>
  </tr>
  <tr>
    <th>足のサイズ</th>
    <td><%= user.foot_size %>cm</td>
  </tr>
</table>