<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>ユーザー一覧</h4>
      
      <!-- 条件検索 -->
      <%= form_with(scope: :search, url: users_path, method: :get) do |f| %>
        <%= f.select :generation, User.generations.keys.map{|k| [I18n.t("enums.user.generation.#{k}"), k]}, { include_blank: '世代'}, value: @search_params[:generation] %>
        <%= f.select :gender, User.genders.keys.map{|k| [I18n.t("enums.user.gender.#{k}"), k]}, { include_blank: '好みの服装'}, value: @search_params[:gender] %>
        <%= f.select :body_shape, User.body_shapes.keys.map{|k| [I18n.t("enums.user.body_shape.#{k}"), k]}, { include_blank: '体型'}, value: @search_params[:body_shape] %>
        <%= f.text_field :name, value: @search_params[:name] %>
        <%= submit_tag '検索', class: "button" %>
      <% end %>
      
        <%= render "index", users: @users %>

    </div>
  </div>
</div>