<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>ユーザー一覧</h3>

      <!-- 条件検索 -->
      <div class="m-3 text-center">
        <%= form_with(scope: :search, url: users_path, method: :get) do |f| %>
          <%= f.select :generation, User.generations.keys.map{|k| [I18n.t("enums.user.generation.#{k}"), k]}, { include_blank: '世代'}, value: @search_params[:generation] %>
          <%= f.select :gender, User.genders.keys.map{|k| [I18n.t("enums.user.gender.#{k}"), k]}, { include_blank: '好みの服装'}, value: @search_params[:gender] %>
          <%= f.select :body_shape, User.body_shapes.keys.map{|k| [I18n.t("enums.user.body_shape.#{k}"), k]}, { include_blank: '体型'}, value: @search_params[:body_shape] %>
            身長：<%= f.number_field :tall_from, in: 100..200, class: "form-check-inline" %>cm以上〜
            <%= f.number_field :tall_to, in: 100..200, class: "orm-check-inline" %>cm以下
            <%= f.text_field :name, value: @search_params[:name] %>
            <%= button_tag type: "submit", class: "orm-check-inline btn btn-outline-dark" do %>
              <i class="fas fa-search"></i>
            <% end %>
        <% end %>
      </div>

        <%= render "index", users: @users %>

    </div>
  </div>
</div>