<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-4">マイページ</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h4 class="mt-2"><%= @user.name %>さんの基本データ</h4>
      <%= image_tag @user.get_profile_image(80,100), class: "rounded-circle" %>
      <% if @user.name != "guestuser" %>
        <%= link_to "登録情報を編集", edit_profile_path(@user), class: "btn btn-outline-info" %>
      <% end %>
      <div class="d-flex">
        <p><%= link_to @user.followings.count, followings_user_path(@user.id) %>フォロー中　</p>
        <p><%= link_to @user.followers.count, followers_user_path(@user.id) %>フォロワー</p>
      </div>
      <%= render "public/users/user_info", user: @user %>

      <h4>コーディネート</h4>
      <%= link_to "コーデを探す", coordinates_path, class: "btn btn-outline-success m-1" %>
      <%= link_to "新規投稿", new_coordinate_path, class: "btn btn-outline-info m-1" %>

      <h4 class="mt-4">コレクション</h4>
      <P>(自分の登録したアイテム)</P>
      <%= link_to "コレクションを見る", collection_item_path(@user), class: "btn btn-outline-success m-1" %>
      <%= link_to "コレクションを追加", new_item_path, class: "btn btn-outline-info m-1" %>
    </div>


    <div class="col-md-9">
      <h4 class="mt-2">トレンドのタグ</h4>
      <div class="d-flex flex-wrap">
        <% @tag_list.each do |tag| %>
          <div class="coordinate_image">
            <% tag.coordinates.limit(1).order(created_at: :desc).each do |coordinate| %>
              <%= link_to tag_coordinates_path(tag_id: tag.id) do %>
                <%= image_tag coordinate.get_coordinate_image(300,300), class: "image-fluid" %>
                <div class="mask">
                  <div class="caption"><%= tag.tag_name %></div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <h4 class="mt-5">おすすめの投稿</h4>
      <% if @recommendations.present? %>
        <%= render "layouts/coordinates", coordinates: @recommendations %>
      <% else %>
        <P>--該当する投稿はありません--</P>
      <% end %>

      <h4 class="mt-5">フォロワーの最新投稿</h4>
      <% if @following_coordinates.present? %>
        <%= render "layouts/coordinates", coordinates: @following_coordinates %>
        <%= link_to "タイムラインを見る", timeline_path %>
      <% else %>
        <P>--該当する投稿はありません--</P>
      <% end %>

      <h4 class="mt-5">いいねした最新の投稿</h4>
      <% if @favorite_coordinates.present? %>
        <%= render "layouts/coordinates", coordinates: @favorite_coordinates %>
        <%= link_to "いいねした全コーディネートを見る", favorites_path(@user) %>
      <% else %>
        <P>--該当する投稿はありません--</P>
      <% end %>

      <h4 class="mt-5">あなたの投稿</h4>

      <% if @coordinates.present? %>
        <%= render "layouts/coordinates", coordinates: @coordinates %>
      <% else %>
        <P>--該当する投稿はありません--</P>
      <% end %>
    </div>
  </div>
</div>
