<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex flex-wrap">
        <h3 class="m-1">アイテム一覧</h3>
        <% if user_signed_in? %>
          <%= link_to "アイテム新規登録", new_item_path, class: "btn btn-outline-info" %>
        <% end %>
      </div>

      <!-- 条件検索 -->
      <div class="m-3 text-center">
        <%= form_with(scope: :search, url: items_path, method: :get) do |f| %>
          <div class="form-check m-1">
                  <%= f.select :category, Item.categories.keys.map{|k| [I18n.t("enums.item.category.#{k}"), k]}, { include_blank: 'カテゴリー'}, value: @search_params[:dress_code] %>
            価格：<%= f.number_field :price_from, class: "form-check-inline" %>円以上〜
                  <%= f.number_field :price_to, class: "form-check-inline" %>円以下
          </div>
                  <%= f.text_field :item_name, value: @search_params[:item_name],size: "30", placeholder: "アイテム名・ブランド名・色など" %>
                  <%= button_tag type: "submit", class: "btn btn-outline-dark" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
        <% end %>
      </div>

      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="coordinate_image">
            <%= link_to item_path(item) do %>
              <%= image_tag item.get_item_image(200,200), class: "img-fluid rounded-circle" %>
                <div class="mask">
                  <div class="caption"><%= item.item_name %></div>
              	</div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>