<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mt-3">アイテム一覧</h4>
      
      <!-- 条件検索 -->
      <%= form_with(scope: :search, url: items_path, method: :get) do |f| %>
        <%= f.select :category, Item.categories.keys.map{|k| [I18n.t("enums.item.category.#{k}"), k]}, { include_blank: 'カテゴリー'}, value: @search_params[:dress_code] %>
        <%= f.text_field :item_name, value: @search_params[:item_name] %>
        <%= button_tag type: "submit", class: "btn btn-outline-dark" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
      
      <div class="d-flex">
        <% @items.each do |item| %>
          <div class="coordinate_image">
            <%= link_to item_path(item) do %>
              <%= image_tag item.item_image, class: "img-fluid rounded-circle" %>
                <div class="mask">
                  <div class="caption"><%= item.item_name %></div>
              	</div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>