<!DOCTYPE html>
<html>
  <head>
    <title>Freedom Style</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <% if user_signed_in? %>
        <%= render 'layouts/login_user_header' %>
      <% elsif admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/top_header' %>
      <% end %>
    </header>
    
    <main style="margin-bottom: 50px; margin-top: 50px;">
      <div id="flash-success">
        <% if notice %>
        <p id="notice" class="text-secondary text-center"><%= notice %></p>
        <% end %>
      </div>
      <%= yield %>
    </main>
    
    <footer>
      <p>©Freedom Style.inc<br>produced by Kosuke Naito</p>
    </footer>
  </body>
</html>
