<!DOCTYPE html>
<html>
  <head>
    <title>Freedom Style</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/login_user_header' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
    <% else %>
      <%= render 'layouts/top_header' %>
    <% end %>
    <main style="flex: 1; background-color: #f5f5f5; padding-bottom: 50px; padding-top: 50px;">
      <div id="flash-success">
        <% if notice %>
        <p id="notice" class="text-secondary text-center"><%= notice %></p>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
